DB_NAME=palmera_junior
DB_USER=postgres
DB_PASSWORD=postgres
DB_SCHEMA=dep_compras
SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/palmera_junior
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
JAVA_OPTS=-Xmx2g -Xms512m
