DB_NAME=palmera_junior
DB_USER=postgres
DB_PASSWORD=postgres
DB_SCHEMA=dep_compras
SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/palmera_junior
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres
MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=
MICROSOFT_TENANT_ID=
SES_SMTP_HOST=email-smtp.us-east-1.amazonaws.com
SES_SMTP_PORT=587
SES_SMTP_USERNAME=
SES_SMTP_PASSWORD=
SES_FROM_EMAIL=notificaciones@palmerajunior.com
JAVA_OPTS=-Xmx2g -Xms512m
SESSION_COOKIE_SECURE=true

