<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión - Palmera Junior</title>
    <link rel="stylesheet" th:href="@{/login.css}">
    <link rel="stylesheet" href="../static/login.css">
    
</head>
<body>

<div class="login-container">

    <div class="logo">       
        <img th:src="@{/imgs/circulo-de-usuario.png}" alt="Logo">
        <h1>Palmera Junior</h1>
        <p>Gestión de Compras</p>
    </div>
    <br>

    <div th:if="${param.error}" class="alert-error">
        Usuario o contraseña incorrectos.
    </div>

    <div th:if="${param.logout}" class="alert-success" >
        Sesión cerrada correctamente.
    </div> 

    <form th:action="@{/login}" method="POST">
        
        <div class="input-group">
            <label for="username"></label>
            <input
                    type="text"
                    id="username"
                    name="username"
                    placeholder="Ingrese su usuario"
                    required>
        </div>

        <div class="input-group">
            <label for="password"></label>
            <input
                    type="password"
                    id="password"
                    name="password"
                    placeholder="Ingrese su contraseña"
                    required>
        </div>
        <br><br><br>

        <button type="submit" class="btn-login">
            Iniciar Sesión
        </button>

    </form>

    <div class="register">
        <p></p>
    </div>

</div>

</body>
</html>