<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>

    <link rel="stylesheet" th:href="@{/style.css}">

</head>
<body>

<div class="login-container">

    <div class="logo">       
     <img th:src="@{/imgs/circulo-de-usuario.png}" alt="Logo">
        <h1>LOGIN</h1>
        
    
    </div>
    <br>
   

    <div class="input-group">
        <label for="username"></label>
        <input
                type="text"
                id="username"
                name="username"
                placeholder="Ingrese su usuario"
                required>
    </div>

    <div class="input-group">
        <label for="password"></label>
        <input
                type="password"
                id="password"
                name="password"
                placeholder="Ingrese su contraseña"
                required>
    </div>
    <br><br><br>
    


    <button type="submit" class="btn-login">
        Iniciar Sesión
    </button>

    <div class="register">
        <p>
   
            </a>
        </p>
    </div>


</div>


</body>
</html>